/*css*/
/*Estilos para el conenedor*/
.background-image {
    width: 300;
    height: 700;
    padding: 40;
    border: 2px solid black;
    margin-bottom: 60px;
/*Imagen de fondo*/
    background-image: url('background-image.jpg');
/*repetir la imagen vertical y horizontalmente*/
    background-repeat:repeat;
/*Posicion de la imagen*/
    background-position:center;
/*Tamaño de la imagen*/
    background-size:cover;
}